<!doctype html>
<html lang="en">

<head>
    <title>Job boards</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">

    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="css/style.css">

    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/themes/start/jquery-ui.css" type="text/css" media="all" />


</head>

<body>
    <!-- Header container -->
    <section class="ourSection"> 
        <div class="container">
            <div class = "row no-gutters align-self-center">
                <!-- tg://resolve?domain=MidnightChat_bot&start= -->
                <div class= "col-2">
                    <img src="../images/midnightLogo.svg" width="187px" height="38px"/>
                </div>
                <div class= "col-8 row no-gutters align-items-center">
                    <a href="" class ="headerLinks offset-headerLinks marginNearLogo">
                        About
                    </a>
                    <a href="" class ="headerLinks offset-headerLinks">
                        Advantages
                    </a>
                    <a href="" class ="headerLinks offset-headerLinks" >
                        How it works
                    </a>
                    <a href="" class ="headerLinks offset-headerLinks">
                        Reviews
                    </a>
                    <a href="" class ="headerLinks">
                        FAQ
                    </a>
                </div>
                <div class= "col-2">
                    <div class ="btn startBtn right" onclick="onhover()">
                        Start
                    </div>
                </div>

            </div>
        </div>
    </section>
    <hr class="headerLine">
    
    <!-- Welcome container -->
    <section class="ourSection"> 
        <div class="container">
            <div class="row no-gutters">
                <div class="col-6 mt-5">
                    <p class="mainText mb-0 pb-0">
                        Meet and look at beautiful girls with 
                    </p>
                    <p class="wordMidnight mb-4">
                        Midnight
                    </p>
                    <p class="smallerMainText">
                        Sed ut perspiciatis, unde omnis iste natus 
                        error sit voluptatem accusantium doloremque 
                        laudantium, totam rem aperiam eaque ipsa, quae 
                        ab illo inventore veritatis et quasi architecto 
                        beatae vitae dicta
                    </p>
                    <button class="btn mainBtn mt-5 mb-4">Get Started</button>
                    <div class="row no-gutters">
                        <div class="smallYellowCircle offset-1-right mt-1">
                        </div>
                        <p class="textNearYellow">
                            get started and get a bonus as a gift
                        </p>
                    </div>
                </div>
                <div class="col-6">
                    <!-- Slider -->
                </div>
            </div>
        </div>
    </section>

    <!-- Statistic container -->
    <section class="ourSection mb-7"> 
        <div class="container">
            <div class="row no-gutters bg_statisticBlock mt-3 paddingInTheMiddle">
                <div class="col-4 row no-gutters align-items-center justify-content-center">
                    <div class="col-5">
                        <div class="circleInStatic offset-1-right right align-items-center justify-content-center">
                            <img src="../images/bi_person-bounding-box.svg" width="27px" height="27px"/>
                        </div>
                    </div>
                    <div class="col-7 row no-gutters align-items-center justify-content-center">
                        <div class="col-11 mt-3">
                            <p class="textInStatic offset-1-right mb-1">
                                100+
                            </p>
                            <p class="smallTextInStatic offset-1-right">
                                creators
                            </p>
                        </div>
                        <div class="col-1">
                            <img class="right" src="../images/vl.svg"/>
                            <!-- <div class="vl right"></div> -->
                        </div>
                    </div>

                </div>
                <div class="col-4 row no-gutters align-items-center justify-content-center">
                    <div class="col-5">
                        <div class="circleInStatic offset-1-right right align-items-center justify-content-center">
                            <img src="../images/play.svg" width="27px" height="27px"/>
                        </div>
                    </div>
                    <div class="col-7">
                        <div class="col-11 mt-3">
                            <p class="textInStatic offset-1-right mb-1">
                                100+
                            </p>
                            <p class="smallTextInStatic offset-1-right">
                                past streams
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-4 row no-gutters align-items-center justify-content-center">
                    <div class="col-5 row no-gutters align-items-center justify-content-center">
                        <div class="col-1">
                            <img src="../images/vl.svg"/>
                            <!-- <svg xmlns="../images/Vector 16.svg" width="10" height="155"> </svg> -->

                            <!-- <div class="vl"></div> -->
                        </div>
                        <div class="col-11">
                            <div class="circleInStatic offset-1-right right align-items-center justify-content-center">
                                <img src="../images/landscape.svg" width="27px" height="27px"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-7 mt-3"> 
                    <p class="textInStatic mb-1">
                        100+
                    </p>
                    <p class="smallTextInStatic offset-1-right">
                        unique posts
                    </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="advantagesSection">
        <!-- Advantages container -->
        <div class="container">
            <div class="row no-gutters align-items-center justify-content-center">
                    <p class="advantagesTitle mb-3 mt-4">
                        Advantages
                    </p>
            </div>
            <div class="row no-gutters align-items-center justify-content-center">
                <p class="advantagesSmallerText mb-5">
                    Let's choose the package that is best for you and explore it happily and cheerfully
                </p>
            </div>

            <div class="row no-gutters mt-3">
                <div class="col-3_5 row no-gutters">
                    <div class="topBlock paddingBlock">
                        <div class="topLeftIcon align-items-center justify-content-center">
                            <img src="../images/landscapeWhite.svg" width="34px" height="34px"/>
                        </div>
                        <p class="titleBlock mt-3 mb-2">
                            Unique content
                        </p>
                        <p class="underTitleBlock">
                            Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque
                        </p>
                    </div>
                    <div class="bottomBlock bottom p-4 align-items-center justify-content-center">
                        <p class="textBottom">
                            Special bonuses for active users
                        </p>
                    </div>
                </div>
                <div class="col-5 row no-gutters align-items-center justify-content-center">
                    <div class="middleBlock align-items-center justify-content-center">
                        <img src="../images/verifiedCreators.svg"  width ="440px" height="458px"/> <!-- width ="440px" height="458px" -->
                    </div>
                </div>
                <div class="col-3_5 row no-gutters align-items-start justify-content-end">
                    <div class="topBlock paddingBlock">
                        <div class="topRightIcon align-items-center justify-content-center">
                            <img src="../images/qMark.svg" width="20px" height="34px"/>
                        </div>
                        <p class="titleBlock mt-3 mb-2">
                            Fully anonymous
                        </p>
                        <p class="underTitleBlock">
                            Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque
                        </p>
                    </div>
                    <div class="bottomBlock bottom p-4 align-items-center justify-content-center">
                        <p class="textBottom">
                            User-friendly interface
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <!-- How it works container -->
        <div class="container mt-7">
            <div class="row no-gutters mt-3">
                <div class="col-7 no-gutters">
                        <p class="titleHowItWorks mb-5">
                            How it works 
                        </p>
                        <div class="row no-gutters mb-4">
                            <div class="smallYellowCircle offset-1-right mt-1_5"></div>
                            <p class="underHowItWorks">
                                Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore
                            </p>
                        </div>
                        <div class="row no-gutters mb-4">
                            <div class="smallGreenCircle offset-1-right mt-1_5"></div>
                            <p class="underHowItWorks">
                                Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore
                            </p>
                        </div>
                        <div class="row no-gutters mb-4">
                            <div class="smallVioletCircle offset-1-right mt-1_5"></div>
                            <p class="underHowItWorks">
                                Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore
                            </p>
                        </div>
                </div>
                <div class="col-5 row no-gutters align-items-center justify-content-end">
                        <div class="howItWorksBlock align-items-center justify-content-center">
                            <img src="../images/iPhone.svg"  width ="422.05px" height="461px"/>
                        </div>
                </div>
            </div>
        </div>
    </section>


    <!-- Background glow -->
    <div class="glowCircle"><div>








    <div id="noting">
        <section class="sectionMain">
            <div class="container">
                <div class="contact-wrap w-100 p-md-5 p-4">
                    <h4>There is no results!</h4>
                </div>
            </div>
        </section>
                    
        
    <script>
        var search_input = document.querySelector("#search_input");
        document.getElementById("noting").style.display = "none";

        search_input.addEventListener("keyup", function(e){
        var search_item = e.target.value.toLowerCase();
        var title_items = document.querySelectorAll(".findtitle");
        var count = 0;
        title_items.forEach(function(item){
            if(item.textContent.toLowerCase().indexOf(search_item) != -1){
                item.closest("section").style.display = "block";
            }
            else{
                item.closest("section").style.display = "none";
                count++;
            }
        })
        if(count == title_items.length)
        {
            document.getElementById("noting").style.display = "block"; 
        }
        else
        {
            document.getElementById("noting").style.display = "none";
        }

        });

    </script>
    <script src="js/jquery.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/popper.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.validate.min.js"></script>
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    
    <script>
        function onhover()
        {
            var random = (Math.random() * (999999 - 100000) + 100000).toFixed(0);
            console.log(random);


            const obj = Object.assign({"verif_code": random,"balance": "0" });


            console.log(JSON.stringify(obj));
        
            const domain = "localhost";

            fetch(`http://${domain}:3000/users/new`, {
                // mode: "no-cors",
                headers: {
                    'Content-Type': 'application/json',
                },
                method: 'POST',
                body: JSON.stringify(obj)

            });



            function click(code)
            {
                var link = 'https://t.me/MidnightChat_bot?start=' + code;
                location.href = link; 
                console.log(link);
                if (location.herf === link)
                {
                    return false;
                }
            }
            setInterval(function(){click(random);}, 700);

        }
    </script>

<!--     <script>
        function onhover()
        {
            var random = Math.random() * (999999 - 100000) + 100000;
            User.create({
                "verif_code": random,
            });
        }
    </script> -->

    <script>
        function showMore(idAd) {
            var btn = document.getElementById(idAd + "showMoreBtn");
            var content = document.getElementById(idAd + "showMoreContent");
        
            if(btn.innerText == "Learn more"){
                btn.innerText = "Learn less"; 
                content.classList.remove('hideContent');
            } 
            else {
                btn.innerText = "Learn more";
                content.classList.add('hideContent');
            }
        }
    </script>
    <script>
    function creatForm(idAd) {
        document.getElementById(idAd + "ad").innerHTML =
        '<section class="sectionAplyForm">'+
            '<div class="container">' +
                '<div class="contact-wrap w-100 p-md-5 p-4">' +
                    '<div class="panel panel-primary">' +
                        '<div class="mb-4 row col-md-12">' +
                        '<h1>Registration Form</h1>' +
                        `<button onclick="deleteForm(`+ idAd + `)" class="close" type="button"></button>` +
                        '</div>' +
                        '<div class="panel-body">' +
                            '<form id="'+ idAd +'applicationForm">' +
                                '<div class="row register-form">' +
                                    '<div class="col-md-6">' +
                                        '<div class="form-group">' +
                                            '<input id="firstName" name="firstName" type="text" class="form-control" placeholder="First Name *" value="" required />' +
                                        '</div>' +
                                        '<div class="form-group">' +
                                            '<input id="email" name="email" type="email" class="form-control" placeholder="Your Email *" value="" required />' +
                                        '</div>' +
                                    '</div>' +
                                    '<div class="col-md-6">' +
                                        '<div class="form-group">' +
                                            '<input id="lastName" name="lastName" type="text" class="form-control" placeholder="Last Name *" value="" required />' +
                                        '</div>' +
                                        '<div class="form-group">' +
                                            '<input id="phone" name="phone" type="text" minlength="10" maxlength="10" class="form-control" placeholder="Your Phone *" value="" required />' +
                                        '</div>' +
                                    '</div>' +
                                    '<div class="col-md-12">'+
                                        '<div class="form-group">' +
                                            '<textarea id="description" name="description" type="text" class="form-control" class="form-control" placeholder="Tell about your experience *" value="" required ></textarea>' +
                                        '</div>' +
                                    '</div>'+
                                    '<div class="col-md-6">'+
                                        '<div class="form-group">' +
                                            '<div class="maxl">' +
                                                '<label class="radio inline">' +
                                                    '<input id="male" name="gender" type="radio" value="male" checked>' +
                                                    '<span> Male</span>' +
                                                '</label>' +
                                                '<label class="radio inline offset-0">' +
                                                    '<input id="female" name="gender" type="radio" value="female">' +
                                                    '<span> Female </span>' +
                                                '</label>' +
                                            '</div>' +
                                        '</div>' +
                                    '</div>'+
                                    '<div class="col-md-6">'+
                                        '<input type="hidden" name="adID" value="'+ idAd +'"/>' +
                                        '<input id="submitButton" type="submit" class="btn btn-primary"  value="Submit"/>' +
                                    '</div>'+
                                '</div>' +
                            '</form>' +
                        '</div>' +
                    '</div>' +
                '</div>' +
            '</section>';
    }
    </script>
    <script>
    function deleteForm(idAd) {
        document.getElementById(idAd + "ad").innerHTML = "";
    } 
    </script>
    <script>


       function sendData(idAd) {

        $("#" + idAd + "applicationForm").submit(function(e) {
            e.preventDefault();

            const data = $("#" + idAd + "applicationForm").serializeArray();

            const obj = {};

               function toJson(arr) {

                   arr.map((element) => {
                       obj[element.name] = element.value;
                   })
               }
               toJson(data);

               const domain = "localhost";

               fetch(`http://${domain}:3000/apps/new`, {
                   // mode: "no-cors",
                   headers: {
                       'Content-Type': 'application/json',
                   },
                   method: 'POST',
                   body: JSON.stringify(obj)

               });
               document.getElementById(idAd + "ad").innerHTML =
                `<section class="sectionAplyForm">
                    <div class="container">
                        <div class="contact-wrap w-100 p-md-5 p-4">
                            <div class="panel panel-primary">
                                    <div class="panel-body centeredAniIcon">
                                        <lottie-player src="https://assets7.lottiefiles.com/datafiles/SsnntYI9d7Q2zbv/data.json"  background="transparent"  speed="1"  style="width: 300px; height: 300px;"  loop  autoplay></lottie-player>
                                    </div>
                            </div>
                        </div>
                    </section>`;
                setInterval(function(){document.getElementById(idAd + "ad").innerHTML = "";}, 5000);

           });
       };
   </script> 

    
</body>

</html>