<!doctype html>
<html lang="en">

<head>
    <title>Job boards</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">

    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="css/style.css">

    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/themes/start/jquery-ui.css" type="text/css" media="all" />

    <!-- / -->
    <link rel="stylesheet" href="owlCarousel/assets/owl.carousel.min.css" />
    <link rel="stylesheet" href="owlCarousel/assets/owl.theme.default.min.css">

<!--     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/4.5.6/css/ionicons.min.css"> -->

</head>

<body>
    <!-- Header container -->
    <section class="ourSection"> 
        <div class="container">
            <nav class="navbar navbar-expand-lg">
                <a class="navbar-brand marginNearLogo" href="">
                    <img src="../images/midnightLogo.png" width="187px" height="38px"/>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"><img src="../images/burger.png" width="31px" height="26px"/></span>
                </button>
              
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item"> <!-- active -->
                        <a href="#" class="nav-link headerLinks offset-headerLinks">
                            About<span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link headerLinks offset-headerLinks">
                            Advantages
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link headerLinks offset-headerLinks">
                            How it works
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link headerLinks offset-headerLinks">
                            Reviews
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link headerLinks offset-headerLinks">
                            FAQ
                        </a>
                    </li>
                    <!-- <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown
                      </a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                      </div>
                    </li> -->
                    <!-- <li class="nav-item">
                      <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                    </li> -->
                    </ul>
                    <div class ="btn startBtn right marginStartBtn" onclick="onhover()">
                        Start
                    </div>
                </div>
              </nav>

              <!-- tg://resolve?domain=MidnightChat_bot&start= -->
        </div>
    </section>
    <hr class="headerLine">
    
    <!-- Welcome container -->
    <section class="ourSection"> 
        <div class="container">
            <div class="row no-gutters">
                <div class="col-lg-6 mt-5">
                    <p class="mainText pb-0 mb-4">
                        <span class="wordMidnight">
                            Midnight
                        </span>
                        - brand new premium content platform directly in your messenger
                    </p>
                    
                    <p class="smallerMainText">
                        Chatting, video conversations, premium content 
                        - all in Midnight. Get closer to content creators
                        and get access to amazing content and services with Midnight 
                    </p>
                    <div class="d-md-flex align-items-center justify-content-center">
                        <button class="btn mainBtn mt-5 mb-4">Get Started</button>
                    </div>
                    <div class="row no-gutters d-md-flex align-items-center-md justify-content-center-md">
                        <div class="smallYellowCircle offset-1-right mt-1">
                        </div>
                        <p class="textNearYellow mb-0">
                            get started and get a bonus as a gift
                        </p>
                    </div>
                </div>
                <div class="col-lg-6 mt-3 d-lg-flex justify-content-center">
                    <div class="bgImgWelcome paddingImgWelcome"> 
						<div class="welcome-hero owl-one welcome-carousel owl-carousel">
							<div class="item">
								<div class="welcome-work">
									<div class="img d-flex align-items-end justify-content-center" style="background-image: url(../images/alexa.png);">
										<div class="row no-gutters insideImgBlock align-items-center justify-content-start mb-3">
                                            <div>
                                                <p class="insideImgText mb-0 offset-1">
                                                    Alexa Catarsis, 21 y.o
                                                </p>
                                            </div>
                                            <div class="offset-1">
                                                <img src="../images/fr.png" width="26px" height="26px"/>
                                            </div>
                                        </div>
									</div>
								</div>
							</div>
                            <div class="item">
								<div class="welcome-work">
									<div class="img d-flex align-items-end justify-content-center" style="background-image: url(../images/123.png);">
										<div class="row no-gutters insideImgBlock align-items-center justify-content-start mb-3">
                                            <div>
                                                <p class="insideImgText mb-0 offset-1">
                                                    Alexa Catarsis, 21 y.o
                                                </p>
                                            </div>
                                            <div class="offset-1">
                                                <img src="../images/fr.png" width="26px" height="26px"/>
                                            </div>
                                        </div>
									</div>
								</div>
							</div>
                            <div class="item">
								<div class="welcome-work">
									<div class="img d-flex align-items-end justify-content-center" style="background-image: url(../images/alexa.png);">
										<div class="row no-gutters insideImgBlock align-items-center justify-content-start mb-3">
                                            <div>
                                                <p class="insideImgText mb-0 offset-1">
                                                    Alexa Catarsis, 21 y.o
                                                </p>
                                            </div>
                                            <div class="offset-1">
                                                <img src="../images/fr.png" width="26px" height="26px"/>
                                            </div>
                                        </div>
									</div>
								</div>
							</div>
                            <div class="item">
								<div class="welcome-work">
									<div class="img d-flex align-items-end justify-content-center" style="background-image: url(../images/alexa.png);">
										<div class="row no-gutters insideImgBlock align-items-center justify-content-start mb-3">
                                            <div>
                                                <p class="insideImgText mb-0 offset-1">
                                                    Alexa Catarsis, 21 y.o
                                                </p>
                                            </div>
                                            <div class="offset-1">
                                                <img src="../images/fr.png" width="26px" height="26px"/>
                                            </div>
                                        </div>
									</div>
								</div>
							</div>
                            <div class="item">
								<div class="welcome-work">
									<div class="img d-flex align-items-end justify-content-center" style="background-image: url(../images/alexa.png);">
										<div class="row no-gutters insideImgBlock align-items-center justify-content-start mb-3">
                                            <div>
                                                <p class="insideImgText mb-0 offset-1">
                                                    Alexa Catarsis, 21 y.o
                                                </p>
                                            </div>
                                            <div class="offset-1">
                                                <img src="../images/fr.png" width="26px" height="26px"/>
                                            </div>
                                        </div>
									</div>
								</div>
							</div>
						</div>
                </div>
            </div>
        </div>
    </section>

    <!-- Statistic container -->
    <section class="ourSection mb-7 mt-lg-7"> 
        <div class="container">
            <div class="row no-gutters bg_statisticBlock mt-3 paddingInTheMiddle pt-lg-4 pb-lg-4">
                <div class="col-md-4 row no-gutters align-items-center justify-content-center">
                    <div class="col-lg-5 col-xsm-6 pr-lg-1">
                        <div class="circleInStatic mr-3 right align-items-center justify-content-center">
                            <img class="iconInStatic" src="../images/bi_person-bounding-box.png" />
                        </div>
                    </div>
                    <div class="col-lg-7 col-xsm-6 row no-gutters align-items-center justify-content-center">
                        <div class="col-11 mt-3 pl-lg-1">
                            <p class="textInStatic offset-1-right mb-1">
                                100+
                            </p>
                            <p class="smallTextInStatic offset-1-right">
                                creators
                            </p>
                        </div>
                        <div class="col-1">
                            <img class="right vl" src="../images/vl.png"/>
                            <!-- <div class="vl right"></div> -->
                        </div>
                    </div>

                </div>
                <div class="col-md-4 row no-gutters align-items-center justify-content-center">
                    <div class="col-lg-5 col-xsm-6 pr-lg-1">
                        <div class="circleInStatic mr-3 right align-items-center justify-content-center">
                            <img class="iconInStatic" src="../images/play.png"/>
                        </div>
                    </div>
                    <div class="col-lg-7 col-xsm-6 pl-lg-1">
                        <div class="col-11-no-gutters mt-3">
                            <p class="textInStatic offset-1-right mb-1">
                                100+
                            </p>
                            <p class="smallTextInStatic offset-1-right">
                                past streams
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 row no-gutters align-items-center justify-content-center">
                    <div class="col-lg-5 col-xsm-6 pr-lg-1 row no-gutters align-items-center justify-content-center">
                        <div class="col-1">
                            <img class="vl" src="../images/vl.png"/>
                            <!-- <svg xmlns="../images/Vector 16.svg" width="10" height="155"> </svg> -->

                            <!-- <div class="vl"></div> -->
                        </div>
                        <div class="col-11">
                            <div class="circleInStatic mr-3 right align-items-center justify-content-center">
                                <img class="iconInStatic" src="../images/landscape.png"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7 col-xsm-6 mt-3 pl-lg-1"> 
                    <p class="textInStatic mb-1">
                        100+
                    </p>
                    <p class="smallTextInStatic offset-1-right">
                        unique posts
                    </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="advantagesSection">
        <!-- Advantages container -->
        <div class="container">
            <div class="row no-gutters align-items-center justify-content-center">
                    <p class="advantagesTitle mb-3 mt-4">
                        Advantages
                    </p>
            </div>
            <div class="row no-gutters align-items-center justify-content-center">
                <p class="advantagesSmallerText mb-5">
                    Let's choose the package that is best for you and explore it happily and cheerfully
                </p>
            </div>

            <div class="row no-gutters mt-3">
                <div class="col-lg-3_5 row no-gutters">
                    <div class="topBlock paddingBlock">
                        <div class="topLeftIcon align-items-center justify-content-center">
                            <img src="../images/landscapeWhite.png" width="34px" height="34px"/>
                        </div>
                        <p class="titleBlock mt-3 mb-2 mb-lg-3">
                            Unique content
                        </p>
                        <p class="underTitleBlock">
                            Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque
                        </p>
                    </div>
                    <div class="mt-lg-4 bottomBlock bottom p-4 align-items-center justify-content-center">
                        <p class="textBottom">
                            Special bonuses for active users
                        </p>
                    </div>
                </div>
                <div class="col-lg-5 mt-lg-4 row no-gutters align-items-center justify-content-center">
                    <div class="middleBlock align-items-center justify-content-center">
                        <img class="verifiedCreators" src="../images/verifiedCreators.png"/> <!-- width ="440px" height="458px" -->
                    </div>
                </div>
                <div class="col-lg-3_5 mt-lg-4 row no-gutters align-items-start justify-content-end">
                    <div class="topBlock paddingBlock">
                        <div class="topRightIcon align-items-center justify-content-center">
                            <img src="../images/qMark.png" width="20px" height="34px"/>
                        </div>
                        <p class="titleBlock mt-3 mb-2">
                            Fully anonymous
                        </p>
                        <p class="underTitleBlock">
                            Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque
                        </p>
                    </div>
                    <div class="mt-lg-4 bottomBlock bottom p-4 align-items-center justify-content-center">
                        <p class="textBottom">
                            User-friendly interface
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <!-- How it works container -->
        <div class="container mt-7">
            <div class="row no-gutters mt-3">
                <div class="col-lg-7 no-gutters">
                        <p class="titleHowItWorks mb-5 ml-md-7_5 ml-sm-3">
                            How it works 
                        </p>
                        <div class="row no-gutters mb-4">
                            <div class="smallYellowCircle offset-1-right mt-1_5"></div>
                            <p class="underHowItWorks">
                                Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore
                            </p>
                        </div>
                        <div class="row no-gutters mb-4">
                            <div class="smallGreenCircle offset-1-right mt-1_5"></div>
                            <p class="underHowItWorks">
                                Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore
                            </p>
                        </div>
                        <div class="row no-gutters mb-4">
                            <div class="smallVioletCircle offset-1-right mt-1_5"></div>
                            <p class="underHowItWorks">
                                Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore
                            </p>
                        </div>
                </div>
                <div class="col-lg-5 row no-gutters align-items-center justify-content-end justify-content-center-phone">
                        <div class="howItWorksBlock align-items-center justify-content-center">
                            <img src="../images/iPhone.png"  width ="422.05px" height="461px"/>
                        </div>
                </div>
            </div>
        </div>
    </section>

    <section class="reviewsSection mt-15_5">
            <!-- Reviews container -->
            <div class="container mb-3">
                <div class="row no-gutters align-items-center justify-content-center">
                        <p class="advantagesTitle mb-3 mt-4">
                            Reviews
                        </p>
                </div>
                <div class="row no-gutters align-items-center justify-content-center">
                    <p class="advantagesSmallerText mb-5">
                        These are the stories of our customers who have joined us with great pleasure when using this crazy feature                    </p>
                </div>
            </div>

            <div class="row no-gutters heightReviews">
                <div class="col-md-12">
                    <div class="d-flex align-items-center justify-content-start"> 
						<div class="reviews-hero reviews-carousel owl-carousel">
							<div class="item">
								<div class="reviews-work">
									<div class="d-flex align-items-end justify-content-center">
										<div class="blockReviews row no-gutters align-items-center justify-content-start mb-3">
                                            <div>
                                            </div>
                                            <div class="forRating">
                                                <img class="right" src="../images/forRating.png"/>
                                            </div>
                                        </div>
									</div>
								</div>
							</div>
                            <div class="item">
								<div class="reviews-work">
									<div class="d-flex align-items-end justify-content-center">
										<div class="blockReviews row no-gutters align-items-center justify-content-start mb-3">
                                            <div>
                                            </div>
                                            <div class="forRating">
                                                <img class="right" src="../images/forRating.png"/>
                                            </div>
                                        </div>
									</div>
								</div>
							</div>
                            <div class="item">
								<div class="reviews-work">
									<div class="d-flex align-items-end justify-content-center">
										<div class="blockReviews row no-gutters align-items-center justify-content-start mb-3">
                                            <div>
                                            </div>
                                            <div class="forRating">
                                                <img class="right" src="../images/forRating.png"/>
                                            </div>
                                        </div>
									</div>
								</div>
							</div>
                            <div class="item">
								<div class="reviews-work">
									<div class="d-flex align-items-end justify-content-center">
										<div class="blockReviews row no-gutters align-items-center justify-content-start mb-3">
                                            <div>
                                            </div>
                                            <div class="forRating">
                                                <img class="right" src="../images/forRating.png"/>
                                            </div>
                                        </div>
									</div>
								</div>
							</div>
                            <div class="item">
								<div class="reviews-work">
									<div class="d-flex align-items-end justify-content-center">
										<div class="blockReviews row no-gutters align-items-center justify-content-start mb-3">
                                            <div>
                                            </div>
                                            <div class="forRating">
                                                <img class="right" src="../images/forRating.png"/>
                                            </div>
                                        </div>
									</div>
								</div>
							</div>
                            <div class="item">
								<div class="reviews-work">
									<div class="d-flex align-items-end justify-content-center">
										<div class="blockReviews row no-gutters align-items-center justify-content-start mb-3">
                                            <div>
                                            </div>
                                            <div class="forRating">
                                                <img class="right" src="../images/forRating.png"/>
                                            </div>
                                        </div>
									</div>
								</div>
							</div>
						</div>
                    </div>
                </div>
            </div>


            <!-- FAQ container -->
            <div class="container faqPadding mt-5">
                <div class="row no-gutters align-items-start align-items-center-md justify-content-start justify-content-center-md">
                        <p class="faqTitle mb-5">
                            Frequently asked questions
                        </p>
                </div>
                <!-- Row 1 -->
                <div class="row faqRow no-gutters mb-3 align-items-start justify-content-start">
                    <div class="col-11">
                        <p class="faqRowText pt-3 pt-lg-4">
                            1. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque?
                        </p>
                    </div>
                    <div class="col-1 pt-2_5 pt-lg-3_5">
                        <button class="btn btnFaq faqPlus right align-items-center justify-content-center"> + </button>
                    </div>
                </div>
                <!-- Row 2 -->
                <div class="row faqRow no-gutters mb-3 align-items-start justify-content-start">
                    <div class="col-11">
                        <p class="faqRowText pt-3 pt-lg-4">
                            2. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque?
                        </p>
                    </div>
                    <div class="col-1 pt-2_5 pt-lg-3_5">
                        <button class="btn btnFaq faqPlus right align-items-center justify-content-center"> + </button>
                    </div>
                </div>
                <!-- Row 3 -->
                <div class="row faqRow no-gutters mb-3 align-items-start justify-content-start">
                    <div class="col-11">
                        <p class="faqRowText pt-3 pt-lg-4">
                            3. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque?
                        </p>
                    </div>
                    <div class="col-1 pt-2_5 pt-lg-3_5">
                        <button class="btn btnFaq faqPlus right align-items-center justify-content-center"> + </button>
                    </div>
                </div>
                <!-- Row 4 -->
                <div class="row faqRow no-gutters mb-3 align-items-start justify-content-start">
                    <div class="col-11">
                        <p class="faqRowText pt-3 pt-lg-4">
                            4. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque?
                        </p>
                    </div>
                    <div class="col-1 pt-2_5 pt-lg-3_5">
                        <button class="btn btnFaq faqPlus right align-items-center justify-content-center"> + </button>
                    </div>
                </div>
                <!-- Row 5 -->
                <div class="row faqRow no-gutters mb-3 align-items-start justify-content-start">
                    <div class="col-11">
                        <p class="faqRowText pt-3 pt-lg-4">
                            5. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque?
                        </p>
                    </div>
                    <div class="col-1 pt-2_5 pt-lg-3_5">
                        <button class="btn btnFaq faqPlus right align-items-center justify-content-center"> + </button>
                    </div>
                </div>
            </div>
        </section>

    <!-- cta container -->
    <section class="ctaSection">
        <div class="container bg_ctaBlock marginContainerCta">
            <div class="row no-gutters align-items-center justify-content-center">
                <div class="col-md-6 d-flex align-items-center justify-content-start justify-content-center-md">
                    <div>
                        <p class="ctaTitle mb-4">
                            Subscribe Now for Get Special Features!
                        </p>
                        <p class="ctaUnderTitle">
                            Let's subscribe with us and find the fun.                        
                        </p>
                    </div>
                </div>
                <div class="col-md-6 d-flex align-items-center justify-content-end justify-content-center-md mt-md-4">
                    <button class="btn mainBtn widthBtnPh">Get Started</button>
                </div>
            </div>
            <div class="ctaSection shadowCta"></div>
        </div>
    </section>

    <!-- cta container 2 -->
    <section class="ctaSection2">
        <div class="container bg_ctaBlock marginContainerCta">
            <div class="row no-gutters align-items-center justify-content-center">
                <div class="col-md-6 d-flex align-items-center justify-content-start justify-content-center-md">
                    <div>
                        <p class="ctaTitle mb-4">
                            Subscribe Now for Get Special Features!
                        </p>
                        <p class="ctaUnderTitle">
                            Let's subscribe with us and find the fun.                        
                        </p>
                    </div>
                </div>
                <div class="col-md-6 d-flex align-items-center justify-content-end justify-content-center-md mt-md-4">
                    <button class="btn mainBtn widthBtnPh">Get Started</button>
                </div>
            </div>
            <div class="shadowCta"></div>
        </div>
    </section>

    <!-- Background glow -->
    <div class="glowCircle"><div>








    <div id="noting">
        <section class="sectionMain">
            <div class="container">
                <div class="contact-wrap w-100 p-md-5 p-4">
                    <h4>There is no results!</h4>
                </div>
            </div>
        </section>
                    
    


    <script src="js/jquery.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/popper.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.validate.min.js"></script>
 <!--    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script> -->
    
    <!-- / -->
    <script src="owlCarousel/owl.carousel.js"></script>
    <script src="owlCarousel/owl.carousel.min.js"></script>

<script>
    (function($) {

        "use strict";

        var fullHeight = function() {

            $('.js-fullheight').css('height', $(window).height());
            $(window).resize(function(){
                $('.js-fullheight').css('height', $(window).height());
            });

        };
        fullHeight();

        var carouselWelcome = 
            $('.welcome-carousel').owlCarousel({
            loop:true,
            autoplay: false,
            margin:30,
            animateOut: 'fadeOut',
            animateIn: 'fadeIn',
            smartSpeed: 1000,
            nav:true,
            dots: true,
            autoplayHoverPause: false,
            items: 1,
            navText : ["<span class='ion-ios-arrow-back'></span>","<span class='ion-ios-arrow-forward'></span>"],
            responsive:{
                0:{
                    items:1
                },
                767:{
                    items:1,
                    nav:true
                }
            },
            });

            var carouselReciews = 
            $('.reviews-carousel').owlCarousel({
            loop:true,
            autoplay: false,
            margin:2.5,
            animateOut: 'fadeOut',
            animateIn: 'fadeIn',
            smartSpeed: 1000,
            nav:true,
            dots: true,
            autoplayHoverPause: false,
            items: 4,
            navText : ["<span class='navLeft'></span>","<span class='navRight'></span>"],
            responsive:{
                0:{
                    dotsEach: 1,
                    items:1,
                },
                800:{
                    dotsEach: 1,
                    items:2,
                },
                1200:{
                    dotsEach: 1,
                    items:3,
                },
                1600:{
                    dotsEach: 1,
                    items:4,
                }
            }
            });
        /* carousel(); */

/*         carouselWelcome.on('changed.owl.carousel', function(event) {
            navigationFill();
        })

        function navigationFill() {  

            // Reset the width of all the 'dots'
            var pr = $(".owl-carousel .owl-dots .owl-dot span");
            $(pr).innerHTML(`123`);

            var progressbar = $(".owl-carousel .owl-dots .owl-dot.active span");
            $(progressbar).css({ width: "43px" });

        } */

    })(jQuery);

/*     owl.on('changed.owl.carousel', function(event) {
    navigationFill();
    })

    function navigationFill() {  

        // Reset the width of all the 'dots'
        var pr = $(".owl-theme .owl-dots .owl-dot span");
        $(pr).css({ width: "0%" });

        var progressbar = $(".owl-theme .owl-dots .owl-dot.active span");
        $(progressbar).animate({ width: "100%" }, 'slow');

    } */
</script>
<!--     <script>
        var search_input = document.querySelector("#search_input");
        document.getElementById("noting").style.display = "none";

        search_input.addEventListener("keyup", function(e){
        var search_item = e.target.value.toLowerCase();
        var title_items = document.querySelectorAll(".findtitle");
        var count = 0;
        title_items.forEach(function(item){
            if(item.textContent.toLowerCase().indexOf(search_item) != -1){
                item.closest("section").style.display = "block";
            }
            else{
                item.closest("section").style.display = "none";
                count++;
            }
        })
        if(count == title_items.length)
        {
            document.getElementById("noting").style.display = "block"; 
        }
        else
        {
            document.getElementById("noting").style.display = "none";
        }

        });

    </script> -->

    <script>
        function onhover()
        {
            var random = (Math.random() * (999999 - 100000) + 100000).toFixed(0);
            console.log(random);


            const obj = Object.assign({"verif_code": random,"balance": "0" });


            console.log(JSON.stringify(obj));
        
            const domain = "localhost";

            fetch(`http://${domain}:3000/users/new`, {
                // mode: "no-cors",
                headers: {
                    'Content-Type': 'application/json',
                },
                method: 'POST',
                body: JSON.stringify(obj)

            });



            function click(code)
            {
                var link = 'https://t.me/MidnightChat_bot?start=' + code;
                location.href = link; 
                console.log(link);
                if (location.herf === link)
                {
                    return false;
                }
            }
            setInterval(function(){click(random);}, 700);

        }
    </script>

<!--     <script>
        function onhover()
        {
            var random = Math.random() * (999999 - 100000) + 100000;
            User.create({
                "verif_code": random,
            });
        }
    </script> -->

    <script>
        function showMore(idAd) {
            var btn = document.getElementById(idAd + "showMoreBtn");
            var content = document.getElementById(idAd + "showMoreContent");
        
            if(btn.innerText == "Learn more"){
                btn.innerText = "Learn less"; 
                content.classList.remove('hideContent');
            } 
            else {
                btn.innerText = "Learn more";
                content.classList.add('hideContent');
            }
        }
    </script>
    <script>
    function creatForm(idAd) {
        document.getElementById(idAd + "ad").innerHTML =
        '<section class="sectionAplyForm">'+
            '<div class="container">' +
                '<div class="contact-wrap w-100 p-md-5 p-4">' +
                    '<div class="panel panel-primary">' +
                        '<div class="mb-4 row col-md-12">' +
                        '<h1>Registration Form</h1>' +
                        `<button onclick="deleteForm(`+ idAd + `)" class="close" type="button"></button>` +
                        '</div>' +
                        '<div class="panel-body">' +
                            '<form id="'+ idAd +'applicationForm">' +
                                '<div class="row register-form">' +
                                    '<div class="col-md-6">' +
                                        '<div class="form-group">' +
                                            '<input id="firstName" name="firstName" type="text" class="form-control" placeholder="First Name *" value="" required />' +
                                        '</div>' +
                                        '<div class="form-group">' +
                                            '<input id="email" name="email" type="email" class="form-control" placeholder="Your Email *" value="" required />' +
                                        '</div>' +
                                    '</div>' +
                                    '<div class="col-md-6">' +
                                        '<div class="form-group">' +
                                            '<input id="lastName" name="lastName" type="text" class="form-control" placeholder="Last Name *" value="" required />' +
                                        '</div>' +
                                        '<div class="form-group">' +
                                            '<input id="phone" name="phone" type="text" minlength="10" maxlength="10" class="form-control" placeholder="Your Phone *" value="" required />' +
                                        '</div>' +
                                    '</div>' +
                                    '<div class="col-md-12">'+
                                        '<div class="form-group">' +
                                            '<textarea id="description" name="description" type="text" class="form-control" class="form-control" placeholder="Tell about your experience *" value="" required ></textarea>' +
                                        '</div>' +
                                    '</div>'+
                                    '<div class="col-md-6">'+
                                        '<div class="form-group">' +
                                            '<div class="maxl">' +
                                                '<label class="radio inline">' +
                                                    '<input id="male" name="gender" type="radio" value="male" checked>' +
                                                    '<span> Male</span>' +
                                                '</label>' +
                                                '<label class="radio inline offset-0">' +
                                                    '<input id="female" name="gender" type="radio" value="female">' +
                                                    '<span> Female </span>' +
                                                '</label>' +
                                            '</div>' +
                                        '</div>' +
                                    '</div>'+
                                    '<div class="col-md-6">'+
                                        '<input type="hidden" name="adID" value="'+ idAd +'"/>' +
                                        '<input id="submitButton" type="submit" class="btn btn-primary"  value="Submit"/>' +
                                    '</div>'+
                                '</div>' +
                            '</form>' +
                        '</div>' +
                    '</div>' +
                '</div>' +
            '</section>';
    }
    </script>
    <script>
    function deleteForm(idAd) {
        document.getElementById(idAd + "ad").innerHTML = "";
    } 
    </script>
    <script>


       function sendData(idAd) {

        $("#" + idAd + "applicationForm").submit(function(e) {
            e.preventDefault();

            const data = $("#" + idAd + "applicationForm").serializeArray();

            const obj = {};

               function toJson(arr) {

                   arr.map((element) => {
                       obj[element.name] = element.value;
                   })
               }
               toJson(data);

               const domain = "localhost";

               fetch(`http://${domain}:3000/apps/new`, {
                   // mode: "no-cors",
                   headers: {
                       'Content-Type': 'application/json',
                   },
                   method: 'POST',
                   body: JSON.stringify(obj)

               });
               document.getElementById(idAd + "ad").innerHTML =
                `<section class="sectionAplyForm">
                    <div class="container">
                        <div class="contact-wrap w-100 p-md-5 p-4">
                            <div class="panel panel-primary">
                                    <div class="panel-body centeredAniIcon">
                                        <lottie-player src="https://assets7.lottiefiles.com/datafiles/SsnntYI9d7Q2zbv/data.json"  background="transparent"  speed="1"  style="width: 300px; height: 300px;"  loop  autoplay></lottie-player>
                                    </div>
                            </div>
                        </div>
                    </section>`;
                setInterval(function(){document.getElementById(idAd + "ad").innerHTML = "";}, 5000);

           });
       };
   </script> 

    
</body>

</html>