.157_60 { 
	overflow:hidden;
}._____ { 
	width:1440px;
	height:83px;
	position:absolute;
}.about { 
	color:rgba(40.00000141561031, 67.00000360608101, 117.00000062584877, 1);
	width:45px;
	height:21px;
	position:absolute;
	left:458px;
	top:13px;
	font-family:Rubik;
	text-align:left;
	font-size:18px;
	letter-spacing:-1.5;
}.advantages { 
	color:rgba(40.00000141561031, 67.00000360608101, 117.00000062584877, 1);
	width:87px;
	height:21px;
	position:absolute;
	left:546px;
	top:13px;
	font-family:Rubik;
	text-align:left;
	font-size:18px;
	letter-spacing:-1.5;
}.how_it_works { 
	color:rgba(40.00000141561031, 67.00000360608101, 117.00000062584877, 1);
	width:91px;
	height:21px;
	position:absolute;
	left:674px;
	top:13px;
	font-family:Rubik;
	text-align:left;
	font-size:18px;
	letter-spacing:-1.5;
}.reviews { 
	color:rgba(40.00000141561031, 67.00000360608101, 117.00000062584877, 1);
	width:60px;
	height:21px;
	position:absolute;
	left:808px;
	top:13px;
	font-family:Rubik;
	text-align:left;
	font-size:18px;
	letter-spacing:-1.5;
}.faq { 
	color:rgba(40.00000141561031, 67.00000360608101, 117.00000062584877, 1);
	width:31px;
	height:21px;
	position:absolute;
	left:911px;
	top:13px;
	font-family:Rubik;
	text-align:left;
	font-size:18px;
	letter-spacing:-1.5;
}.___________ { 
	box-shadow:-5px -5px 10px rgba(255, 255, 255, 0.5);
	width:150px;
	height:44px;
	position:absolute;
	left:1140px;
	top:0px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}.79_18 { 
	border:1px solid rgba(40.00000141561031, 67.00000360608101, 117.00000062584877, 1);
}.start { 
	color:rgba(40.00000141561031, 67.00000360608101, 117.00000062584877, 1);
	width:40px;
	height:19px;
	position:absolute;
	left:55px;
	top:13px;
	font-family:Rubik;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}.midnight { 
	background-image:linear-gradient(0deg, rgba(21.000000648200512, 39.00000147521496, 91.00000217556953, 1) 0%,rgba(123.0000002682209, 51.00000075995922, 255, 1) 100%) ;
	-webkit-background-clip:text;
	-webkit-text-fill-color:transparent;
	-moz-background-clip:text;
	-moz-text-fill-color:transparent;
	-ms-background-clip:text;
	-ms-text-fill-color:transparent;
	width:134px;
	height:31px;
	position:absolute;
	left:203px;
	top:9px;
	font-family:MOMCAKE;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}.line_1 { 
	opacity:0.10000000149011612;
	width:1440px;
	height:0px;
	position:absolute;
	left:0px;
	top:83px;
}.125_108 { 
	border:1px solid rgba(86.00000247359276, 101.00000157952309, 240.00000089406967, 1);
}.________1 { 
	width:38px;
	height:38px;
	position:absolute;
	left:150px;
	top:4px;
	background-image:url(images/________1.png);
	background-repeat:no-repeat;
	background-size:cover;
}